ul {
	list-style-type: none;
}

.linear-x {
	background: rgb(13, 152, 186);
	background: linear-gradient(
		90deg,
		rgba(13, 152, 186, 1) 0%,
		rgba(236, 254, 255, 1) 100%
	);
}
.linear-y {
	background: rgb(13, 152, 186);
	background: linear-gradient(
		rgba(13, 152, 186, 0.5) 0%,
		rgba(255, 255, 255, 1) 100%
	);
}
.text-linear {
	background: -webkit-linear-gradient(45deg, #a1cb34, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.img-background {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("./images/sensor.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallex-image {
	background-position: bottom;
	background-size: cover;
}
.parallex-image-front {
	background-image: url("./images/sensor.png");
}
.parallex-image-back {
	background-image: url("./images/sensor.png");
}
.style-it {
	background: #000;
}
